@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  background-color: var(--blanco);
  color: var(--negro);
  line-height: 1.4em;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  height: 815px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url(../src/img/background-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.header .navigation {
  width: 90%;
  max-width: 120rem;
  color: #8794BA;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header .navigation .h1 {
  width: 138.02px;
  height: 30px;
  left: calc(50% - 69.01px - 98.49px);
}
.header .navigation .container {
  width: 80%;
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  justify-content: space-between;
}
.header .navigation .container .btns {
  display: flex;
  gap: 20px;
}
.header .navigation .container .btns .btn {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 53px;
  border: 1px solid #465B95;
  border-radius: 68px;
}
.header .navigation .container .btns .btn:hover {
  color: #060F28;
  background-color: whitesmoke;
  border: 1px solid #465B95;
}
.header .navigation .container .btns .-s {
  border: none;
}
.header .navigation .container .button {
  display: none;
  cursor: pointer;
}
.header .navigation .container .button .svg {
  width: 2em;
  height: 2em;
  fill: white;
}
.header .navigation .container .nav .ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.header .navigation .container .nav .ul .li {
  margin: 0 0.5em;
}
.header .navigation .container .nav .ul .li:hover {
  color: whitesmoke;
}
.header .-side {
  display: none;
}
.header .center {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header .center .textblock {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 49px;
  width: 550px;
  height: 315px;
}
.header .center .textblock .text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0px;
  gap: 15px;
}
.header .center .textblock .text .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
}
.header .center .textblock .text .p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8794BA;
}
.header .center .mainscreen {
  width: 50%;
}

.-roza {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
  background: #EF2A82;
  border-radius: 68px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.-roza:hover {
  background: #FFFFFF;
  color: #EF2A82;
}

.btn {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 53px;
  border: 1px solid #465B95;
  border-radius: 68px;
  cursor: pointer;
  color: #FFFFFF;
}

.main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
}
.main .features {
  width: 90%;
  max-width: 120rem;
  gap: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 6.25rem 0px;
}
.main .features .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  /* text / main */
  color: #172755;
}
.main .features .p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  text-align: center;
  /* text / secondary */
  color: #8794BA;
}
.main .features .icons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
}
.main .features .icons .icon {
  display: flex;
  gap: 30px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.main .features .icons .icon .content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main .features .icons .icon .content .h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* text / main */
  color: #172755;
}
.main .container {
  width: 90%;
  max-width: 120rem;
  gap: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.main .container .text {
  max-width: 480px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.main .container .text .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* text / main */
  color: #172755;
}
.main .container .text .p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  /* text / secondary */
  color: #8794BA;
}
.main .container .figure {
  width: 50%;
}
.main .-reverse {
  flex-flow: row-reverse nowrap;
}

.footer {
  width: 100%;
  height: 1208px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../src/img/background-bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  box-sizing: border-box;
}
.footer .pricing-plans {
  width: 90%;
  max-width: 120rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
}
.footer .pricing-plans .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
}
.footer .pricing-plans .p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8794BA;
  text-align: center;
}
.footer .pricing-plans .plans {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.footer .pricing-plans .plans .plan {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  background: #0F1F4B;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 30px;
  gap: 20px;
  padding: 4em 0;
  max-width: 340px;
}
.footer .pricing-plans .plans .plan:hover {
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
}
.footer .pricing-plans .plans .plan .number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}
.footer .pricing-plans .plans .-branco {
  background: #FFFFFF;
}
.footer .pricing-plans .plans .-branco:hover {
  box-shadow: 0px 18px 50px -15px #060F28;
}
.footer .pricing-plans .plans .-branco .number {
  color: #172755;
}
.footer .pricing-plans .plans .-branco .title {
  color: #172755;
}
.footer .pricing-plans .plans .-branco .p {
  color: #8794BA;
}
.footer .pricing-plans .aside {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  border-top: 1px solid #2A407C;
}
.footer .pricing-plans .aside .wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.footer .pricing-plans .aside .wrapper a {
  color: #8794BA;
}
.footer .pricing-plans .aside .wrapper .logo {
  width: 10%;
  cursor: pointer;
}
.footer .pricing-plans .aside .wrapper .menu-footer {
  display: flex;
  flex-flow: row nowrap;
}
.footer .pricing-plans .aside .wrapper .menu-footer .ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 3.125rem;
}
.footer .pricing-plans .aside .wrapper .menu-footer .ul .li {
  margin: 0 0.5em;
}
.footer .pricing-plans .aside .wrapper .menu-footer .ul .li .a:hover {
  color: whitesmoke;
}
.footer .pricing-plans .aside .wrapper .redes {
  display: flex;
  flex-flow: row nowrap;
  gap: 3.125rem;
}

.hr {
  width: 90%;
  background: #2A407C;
}

.btn {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 53px;
  border: 1px solid #465B95;
  border-radius: 68px;
}
.btn:hover {
  color: #060F28;
  background-color: whitesmoke;
  border: 1px solid #465B95;
}

#carrossel {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 50px;
}

.item {
  flex: 1 0 0;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .header {
    background-image: url(../src/img/background-top\ \(1\).png);
    justify-content: flex-start;
    gap: 20px;
  }
  .header .navigation {
    background: #172755;
    box-shadow: 0px 4px 4px #12214D;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .header .navigation .container {
    width: 100%;
    flex-direction: column;
  }
  .header .navigation .container .btns {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .header .navigation .container .btns .-up {
    display: none;
  }
  .header .navigation .container .btns .btn {
    padding: 10px 1px;
    border: none;
    border-radius: 68px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .header .navigation .container .button {
    display: block;
  }
  .header .navigation .container .nav { /*quando o botão não estiver ativo */
    width: 100%;
    /* display: none;*/
    overflow: hidden;
    pointer-events: none; /*para não ter efeito no mouse*/
    height: 0vh;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .navigation .container .nav .ul {
    display: none;
  }
  .header .navigation .container .nav.activo { /*quando o botão estiver ativo */
    /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
    /*display: block;*/
    height: 50vh;
    pointer-events: auto;
  }
  .header .navigation .container .nav.activo .ul {
    display: flex;
    flex-direction: column;
  }
  .header .navigation .container .nav.activo .ul .li {
    margin: 1em 0;
  }
  .header .-prime {
    display: none;
  }
  .header .-side {
    display: flex;
    width: 138.02px;
    height: 30px;
  }
  .header .center {
    width: 90%;
    height: auto;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }
  .header .center .textblock {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 12px;
    width: 90%;
  }
  .header .center .textblock .text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0px;
    gap: 15px;
  }
  .header .center .textblock .text .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 120%;
    color: #FFFFFF;
  }
  .header .center .textblock .text .p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #8794BA;
  }
  .header .center .mainscreen {
    width: auto;
  }
  .main .features {
    align-items: flex-start;
  }
  .main .features .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    /* text / main */
    color: #172755;
  }
  .main .features .p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: left;
    /* text / secondary */
    color: #8794BA;
  }
  .main .features .icons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 6.25rem;
  }
  .main .features .icons .icon {
    display: flex;
    gap: 0px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .main .features .icons .icon .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
  }
  .main .features .icons .icon .content .h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* text / main */
    color: #172755;
  }
  .main .features .icons .icon .content .p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: left;
    color: #8794BA;
  }
  .main .container {
    width: 90%;
    max-width: 120rem;
    gap: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .main .container .text {
    max-width: 480px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .main .container .text .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* text / main */
    color: #172755;
  }
  .main .container .text .p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    /* text / secondary */
    color: #8794BA;
  }
  .main .container .figure {
    width: 50%;
  }
  .main .-reverse {
    flex-flow: row-reverse nowrap;
  }
  .main .container {
    width: 90%;
    max-width: 120rem;
    gap: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .main .container .text {
    max-width: 480px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .main .container .text .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* text / main */
    color: #172755;
  }
  .main .container .text .p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    /* text / secondary */
    color: #8794BA;
  }
  .main .container .figure {
    width: 100%;
  }
  .footer .pricing-plans .plans #carrossel {
    gap: 0px;
  }
  .footer .pricing-plans .plans #carrossel .plan {
    min-width: 280px;
  }
  .footer .pricing-plans .aside .wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .footer .pricing-plans .aside .wrapper a {
    color: #8794BA;
  }
  .footer .pricing-plans .aside .wrapper .logo {
    width: 138.02px;
  }
  .footer .pricing-plans .aside .wrapper .menu-footer {
    display: none;
    flex-flow: row nowrap;
  }
  .footer .pricing-plans .aside .wrapper .redes {
    gap: 1.125rem;
  }
}

/*# sourceMappingURL=main.css.map */
