@import 'reset/variaveis.scss' , 'reset/mixins' , 'reset/reset' ,'reset/keyframes';
.header{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url(../src/img/background-top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .navigation{
    width: 90%;
    max-width: 120rem;
    color: #8794BA;
    padding:1em;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    .h1{
      width: 138.02px;
      height: 30px;
      left: calc(50% - 138.02px/2 - 98.49px);
    }
    .container{
      width: 80%;
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      justify-content: space-between;
      .btns{
        display: flex;
        gap: 20px;
        .btn{
          display: flex;
          flex-flow: row nowrap;
          padding: 10px 53px;
          border: 1px solid #465B95;
          border-radius: 68px;
        }
      }
      .button{
        display: none;
        cursor: pointer;
        .svg{
          width: 2em;
          height: 2em;
          fill: white;
        }
      }
      .nav{
        .ul{
          display: flex;
          flex-flow: row nowrap;
          justify-content:flex-end;
          align-items: center;
          .li{
            margin: 0 0.5em;
          }
        }
      }
    }
  }
  .-side{display: none;}
  .center{
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-between;
    .textblock{
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 49px;
      width: 550px;
      height: 315px;
      .text{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0px;
        gap: 15px;
        .title{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 120%;
          color: #FFFFFF;
        }
        .p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #8794BA;
        }
      }
    }
    .mainscreen{
      width: 50%;
    }

  }
}
.-roza{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
  background: #EF2A82;
  border-radius: 68px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}

@media screen and (max-width:480px){
  .header {
    .navigation{
      background: #172755;
      box-shadow: 0px 4px 4px #12214D;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      .container{
        width:100%;
        flex-direction: column;

        .btns{
          width: 100%;
          display: flex;
          gap: 20px;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-between;
          .-up{
            display: none;
          }
          .btn{
            padding: 10px 1px;
            border: none;
            border-radius: 68px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
          }
        }
        .button{
          display: block;
        }
        .nav{/*quando o bot達o n達o estiver ativo */
          width: 100%;
         /* display: none;*/
         overflow: hidden;
         pointer-events: none;/*para n達o ter efeito no mouse*/
         height: 0vh;
         transition: all .5s ease-in-out;
         display:flex;
         flex-flow: column nowrap;
         justify-content:center;
         align-items: center;
         .ul{
          display: none;
         }
        }
        .nav.activo{/*quando o bot達o estiver ativo */
          /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
          /*display: block;*/
          height: 50vh;
          pointer-events: auto;
          .ul{
            display: flex;
            flex-direction: column;
            .li{
              margin: 1em 0;
            }
          }
        }
      }
    }
    .-prime{
      display: none;
    }
    .-side{
      display: flex;
      width: 138.02px;
      height: 30px;
    }
  }

}