@import 'reset/variaveis.scss' , 'reset/mixins' , 'reset/reset' ,'reset/keyframes';
.header{
  width: 100%;
  height: 815px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url(../src/img/background-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  .navigation{
    width: 90%;
    max-width: 120rem;
    color: #8794BA;
    padding:1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    .h1{
      width: 138.02px;
      height: 30px;
      left: calc(50% - 138.02px/2 - 98.49px);
    }
    .container{
      width: 80%;
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      justify-content: space-between;
      .btns{
        display: flex;
        gap: 20px;
        .btn{
          display: flex;
          flex-flow: row nowrap;
          padding: 10px 53px;
          border: 1px solid #465B95;
          border-radius: 68px;
          &:hover{
            color: #060F28;
            background-color: whitesmoke;
            border: 1px solid #465B95;
          }
        }
        .-s{
          border: none;
        }
      }
      .button{
        display: none;
        cursor: pointer;
        .svg{
          width: 2em;
          height: 2em;
          fill: white;
        }
      }
      .nav{
        .ul{
          display: flex;
          flex-flow: row nowrap;
          justify-content:flex-end;
          align-items: center;
          .li{
            margin: 0 0.5em;
            &:hover{
              color: whitesmoke;
            }
          }
        }
      }
    }
  }
  .-side{display: none;}
  .center{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:space-between;
    .textblock{
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 49px;
      width: 550px;
      height: 315px;
      .text{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0px;
        gap: 15px;
        .title{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 120%;
          color: #FFFFFF;
        }
        .p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: #8794BA;
        }
      }
    }
    .mainscreen{
      width: 50%;
    }

  }
}
.-roza{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
  background: #EF2A82;
  border-radius: 68px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  &:hover{
    background: #FFFFFF;
    color:#EF2A82;
  }
}

.btn{
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 53px;
  border: 1px solid #465B95;
  border-radius: 68px;
  cursor: pointer;
  color: #FFFFFF;
}

.main{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;
  .features{
    width: 90%;
    max-width: 120rem;
    gap: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 6.25rem 0px;
    .title{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      
      /* text / main */
      
      color: #172755;
    }
    .p{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      /* or 27px */

      text-align: center;

      /* text / secondary */

      color: #8794BA;
    }

    .icons{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: 6.25rem;
      .icon{
        display: flex;
        gap: 30px;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        .content{
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;
          gap: 20px;
          .h3{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */


            /* text / main */

            color: #172755;

          }
        }
      }
    }
  }
  .container{
    width: 90%;
    max-width: 120rem;
    gap: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .text{
      max-width:  480px;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      .title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;

        /* text / main */

        color: #172755;
      }
      .p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */


        /* text / secondary */

        color: #8794BA;
      }
    }

    .figure{
      width: 50%;
      img{

   
      }
    }
  }
  .-reverse{
    flex-flow: row-reverse nowrap;
  }
}

.footer{
  width: 100%;
  height: 1208px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../src/img/background-bottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  box-sizing: border-box;
  .pricing-plans{
    width: 90%;
    max-width: 120rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
    .title{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      color: #FFFFFF;
    }
    .p{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #8794BA;
      text-align: center;
    }
    .plans{
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      .plan{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content:space-around;
        background: #0F1F4B;
        opacity: 0.7;
        cursor: pointer;
        border-radius: 30px;
        gap: 20px;
        padding: 4em 0;
        max-width: 340px;
        &:hover{
          box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
        }
        .number{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 70px;
          text-align: center;
          color: #FFFFFF;
        }
      }
      .-branco{
        background: #FFFFFF;
        &:hover{
          box-shadow: 0px 18px 50px -15px #060F28;
        }
        .number{
          color: #172755;
        }
        .title{
          color: #172755;
        }
        .p{
          color: #8794BA;
        }
      }
    }
    .aside{
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      padding: 1em;
      border-top: 1px solid #2A407C;
      .wrapper{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        a{
          color: #8794BA;
        }
        .logo{
          width: 10%;
          cursor: pointer;
        }
        .menu-footer{
          display: flex;
          flex-flow: row nowrap;
          .ul{
            display: flex;
            flex-flow: row nowrap;
            gap: 3.125rem;
            .li{
              margin: 0 0.5em;
              .a{
                &:hover{
                  color: whitesmoke;
                }
              }

            }
          }
        }
        .redes{
          display: flex;
          flex-flow: row nowrap;
          gap: 3.125rem;
        }
      }
    }
  }
}
.hr{
  width: 90%;
  background: #2A407C;
}
.btn{
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 53px;
  border: 1px solid #465B95;
  border-radius: 68px;
  &:hover{
    color: #060F28;
    background-color: whitesmoke;
    border: 1px solid #465B95;
  }
}
#carrossel {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 50px;
}

.item {
  flex: 1 0 0;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (max-width:580px){
  .header {
    background-image: url(../src/img/background-top\ \(1\).png);
    justify-content: flex-start;
    gap: 20px;
    .navigation{
      background: #172755;
      box-shadow: 0px 4px 4px #12214D;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      .container{
        width:100%;
        flex-direction: column;

        .btns{
          width: 100%;
          display: flex;
          gap: 20px;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-between;
          .-up{
            display: none;
          }
          .btn{
            padding: 10px 1px;
            border: none;
            border-radius: 68px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
          }
        }
        .button{
          display: block;
        }
        .nav{/*quando o bot達o n達o estiver ativo */
          width: 100%;
         /* display: none;*/
         overflow: hidden;
         pointer-events: none;/*para n達o ter efeito no mouse*/
         height: 0vh;
         transition: all .5s ease-in-out;
         display:flex;
         flex-flow: column nowrap;
         justify-content:center;
         align-items: center;
         .ul{
          display: none;
         }
        }
        .nav.activo{/*quando o bot達o estiver ativo */
          /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
          /*display: block;*/
          height: 50vh;
          pointer-events: auto;
          .ul{
            display: flex;
            flex-direction: column;
            .li{
              margin: 1em 0;
            }
          }
        }
      }
    }
    .-prime{
      display: none;
    }
    .-side{
      display: flex;
      width: 138.02px;
      height: 30px;
    }

    .center{
      width: 90%;
      height: auto;
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content:space-between;
      align-content: center;
      .textblock{
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        gap: 12px;
        width: 90%;
  
        .text{
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          padding: 0px;
          gap: 15px;
          .title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 31px;
            line-height: 120%; 
            color: #FFFFFF;
          }
          .p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #8794BA;
          }
        }
      }
      .mainscreen{
        width: auto;
      }
  
    }
  }
  .main{
    .features{
      align-items: flex-start;
      .title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        
        /* text / main */
        
        color: #172755;
      }
      .p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: left;
        
        
        /* text / secondary */
        
        color: #8794BA;
      }
      .icons{
        display: flex;
        flex-flow:column nowrap;
        align-items: center;
        justify-content: center;
        gap: 6.25rem;
        .icon{
          display: flex;
          gap: 0px;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          .content{
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
            gap: 0px;
            .h3{
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 19px;
           
  
  
              /* text / main */
  
              color: #172755;
  
            }
            .p{
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 140%;
              text-align: left;

              color: #8794BA;
            }
          }
        }
      }
    }
    .container{
      width: 90%;
      max-width: 120rem;
      gap: 50px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
  
      .text{
        max-width:  480px;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .title{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 47px;
  
          /* text / main */
  
          color: #172755;
        }
        .p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          /* or 27px */
  
  
          /* text / secondary */
  
          color: #8794BA;
        }
      }
  
      .figure{
        width: 50%;
        img{
  
     
        }
      }
    }
    .-reverse{
      flex-flow: row-reverse nowrap;
    }



    .container{
      width: 90%;
      max-width: 120rem;
      gap: 50px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
  
      .text{
        max-width:  480px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .title{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 47px;
  
          /* text / main */
  
          color: #172755;
        }
        .p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          /* or 27px */
  
  
          /* text / secondary */
  
          color: #8794BA;
        }
      }
  
      .figure{
        width: 100%;

      }
    }

  }
  .footer{

    .pricing-plans{

      .title{

      }
      .p{

      }
      .plans{
        #carrossel {

          gap: 0px;
          .plan{

            min-width: 280px;
            
            .number{
  
            }
          }
        }

      }
      .aside{

        .wrapper{
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          a{
            color: #8794BA;
          }
          .logo{
            width: 138.02px;
          }
          .menu-footer{
            display: none;
            flex-flow: row nowrap;
            .ul{

            }
          }
          .redes{
            gap: 1.125rem;
          }
        }
      }
    }
  }

}


